
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

form {
    background-color: #eef0f3;
    padding: 90px;
    height: 40vh;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

h1 {
    color: #201212;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


label {
    display: block;
    color: #7a7a7a;
}

input{
    width: 100%;
    padding: 12px;
    margin-left: 0px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;

}

button {
    width: 60%;
    margin-left: 67px;
    padding: 10px;
    background-color: #080808;
    color: rgb(246, 246, 248);
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(15, 19, 253);
    box-shadow: 2px 2px 2px;
}
