
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

form {
    background-color: #eef0f3;
    padding: 80px;
    height: 40vh;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

h1 {
    color: #201212;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


label {
    display: block;
    color: #7a7a7a;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;

}

.btn-link{
    border: 4px;
    margin-left: 70px;
    background-color: #cac3c3;
    align-items: right;
    color: #fbfbfc;
    text-decoration: none;
    padding: 16px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
 }
 .btn-link:hover{
    box-shadow: 2px 2px 2px #0c0a0a;
    cursor: pointer;
    background-color: black;
 }